@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');

:root {
    --primario: #523AFC;
    --negro: #FFFFFF;
    ---blanco: #FFFFFF;

    --fuente-primario: "Kotta One", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
.menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 12px;
}

.menu-logo {
    padding: 0.5rem;
    margin: 0.2rem;
    position: absolute;  /* Hace que el div se posicione en relación con el contenedor */
    left: 0;             /* Lo coloca en el borde izquierdo */
    top: 0; 
}

.menu-logo img {
    width: 42px;
    height: 49px;
}

.menu-nav {
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav a {
    text-decoration: none;
    cursor: pointer;
    font-family: var(--fuente-primario);
    font-size: 15px;
    color: var(--primario);
    border: 1px solid var(--primario);
    border-radius: 45px;
    padding: 5px 30px;
    margin-left: 15px;
}

.principal {
    height: 100vh;
}
/*imagenes de fondon*/
.logo-detras {
    position: relative;
    margin-left: 3rem;
    width: 633px;
    height: 312px;
    z-index: 1;
}

.foto-fondo {
    filter: drop-shadow(5px 5px 10px rgba(22, 22, 22, 0.795));
    position: absolute;
    top: 30px;
    right: 0; 
    width: 900px;
    height: 574px;
    z-index: 2;
}

.links-redes {
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 31px;
}

.img-flecha {
    position: absolute;
    top: 90%;
    left: 40%;
    z-index: 3;
}

.img-flecha img {
    width: 128px;
    height: 56px;
    cursor: pointer;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}
