@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primario: #523AFC;
    --secundario: #f7066a;
    --negro: #000000;
    ---blanco: #FFFFFF;

    --fuente-primario: "Kotta One", serif;
    --fuente-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 75px;
}

/*header*/
.menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 12px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu-logo {
    padding: 0.5rem;
    margin: 0.2rem;
    position: absolute;
    left: 0;
    top: 0; 
}

.menu-logo img {
    width: 42px;
    height: 49px;
}

.menu-nav {
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav a {
    text-decoration: none;
    cursor: pointer;
    font-family: var(--fuente-primario);
    font-size: 15px;
    color: var(--primario);
    border: 1px solid var(--primario);
    border-radius: 45px;
    padding: 5px 30px;
    margin-left: 15px;
}

/*pantalla principal*/
.principal {
    height: 100vh;
}

/*imagenes de fondon*/
.logo-detras {
    position: relative;
    margin-left: 3rem;
    width: 633px;
    height: 312px;
    z-index: 1;
}

.foto-fondo {
    filter: drop-shadow(5px 5px 10px rgba(22, 22, 22, 0.795));
    position: absolute;
    top: 30px;
    right: 0; 
    width: 900px;
    height: 574px;
    z-index: 2;
}

.links-redes {
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: 31px;
}

.img-flecha {
    position: absolute;
    top: 90%;
    left: 40%;
    z-index: 1000;
}

.img-flecha img {
    width: 128px;
    height: 56px;
    cursor: pointer;
    animation: bounce 1s infinite;
}

#flecha {
    display: block;
    visibility: visible;
    position: relative;
    z-index: 10;
}

/*seccion de ultimo single*/
.ultimo_single {
    height: 100vh;
    background-image: url(/assets/images/bg_animal.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.info-single {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
    position: relative;
    top: 150px;
    left: 50%;
}

.titulo-single {
    font-size: 2.5rem;
    font-family: var(--fuente-secundaria);
    color: var(---blanco);
    margin-right: 130px;
}

.single-descripcion {
    font-family: var(--fuente-secundaria);
    font-size: 16px;
    width: 80%;
    color: var(---blanco);
}

.single-descripcion p {
    font-size: 16px;
    margin-bottom: 25px;
}

.agradecimientos-single {
    margin-top: 25px;
    font-size: 12px;
}

.api-single {
    margin: 4rem;
    position: relative;
    top: -220px;
    filter: drop-shadow(5px 5px 10px var(--secundario));
}

/* seccion biografia*/
.biografia {
    height: 100vh;
}

.titulo-seccion-biografia {
    width: 15%;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    top: 10%;
}

.titulo-seccion-biografia h3 {
    color: var(--primario);
    font-size: 2rem;
}

.descriocion-seccion-biografia {
    width: 25%;
    position: relative;
    top: 25%;
    left: 20%;
}

.descriocion-seccion-biografia p {
    font-family: var(--fuente-secundaria);
    font-size: 18px;
    text-align: center;
}

.carousel {
    width: 28%;
    height: 20%;
    position: relative;
    top: -250px;
    left: 60%;
    filter: drop-shadow(5px 5px 10px rgba(22, 22, 22, 0.795));
}

.carousel-item .d-block {
    border-radius: 25px;
}

/* seccion musica */

.musica {
    height: 100vh;
}

.videos {
    height: 100vh;
}

.contacto {
    height: 100vh;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}

